//
// SCSS
//

@import "normalize.scss";

// Variables

$basecolor: #81ddb9;
$dark-background-color: black;

$max-width: 768px;

// Mixins

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

// Clearfix

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

//
// Basics
//

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
}

h1,
h2,
h3,
h4 {
	font-family: 'Merriweather', Georgia, serif;
}

a:hover {
	@include transition(all, 100ms, ease-in-out);
}

//
// Header
//

.header {
	height: 100vh;
	width: 100vw;
	border-top: 0.5vh solid $basecolor;
	background-color: $dark-background-color;
	color: white;
}

.header__logo {
	margin: 0 auto;
	margin-top: 25vh;
	height: 20vh;
	width: 100%; // IE fix for responsive SVGs
}

.header__heading {
	text-align: center;
	font-size: 80px;
	margin: 0;
}

.header__subheading {
	text-align: center;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 36px;
	margin-top: 0;
}

.header__arrow {
	background-image: url(../img/button_further.png);
	width: 66px;
	height: 72px;
	margin: 0 auto;
	margin-top: 20vh;
}

//
// Navigation
//

.nav {
	float: right;
	margin-right: 5vw;
	color: white;
}

.nav a {
	color: white;
}

.nav a:hover {
	color: $basecolor;
}

.nav__item {
	display: inline-block;
	margin-right: 2em;
	margin-top: 1em;
}

.nav__item--active {
	color: $basecolor;
}

//
// Content
//

.content {
	max-width: $max-width + 50px;
	margin: 5vh auto;
}

.content__hex {
	width: 30%;
	float: left;
	vertical-align: middle;
}

.content__heading {
	font-size: 30px;
	width: 65%;
	float: right;
}

.content__text {
	width: 65%;
	float: right;
	margin-top: 0;
}

//
// Footer
//

.footer {
	width: 100%;
	display: inline-block;
	background-color: $dark-background-color;
	color: white;
	margin: 0;
}

.wrapper {
	max-width: $max-width;
	margin: 0 auto;
}

.footer__section {
	width: 30%;
	float: left;
}

.footer__heading {
	font-size: 18px;
}

.footer__input {
	clear: both;
}

//
// Media Queries
//

@media screen and (max-width: $max-width) {
	.content {
		margin-left: 2vw;
		margin-right: 2vw;
	}

	.content__section {
		clear: both;
	}

	.content__hex {
		display: block;
		margin: 0 auto;
		float: none;
		width: 40%;
	}

	.content__heading {
		width: 100%;
	}

	.content__text {
		width: 100%;
	}

	.footer__section {
		float: none;
		margin: 0 2vw;
		width: 100%;
	}
}